.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease;
}
.item:hover{
    background-color: #49494925;
}
.item img {
  width: 4rem;
  border-radius: 50%;
}
.imgName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item button {
  outline: 0;
  border: 0;
  background-color: #00bdcd;
  width: 8rem;
  height:2rem;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}
.itemsWidth{
  width:25%;
}