.groupItem {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem 0.2rem 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    grid-area: main;
    overflow: auto;
    transition: all 0.2s ease;
  }
  .groupItem:hover{
    background-color: #00bccd42;
    cursor: pointer;
}
  