.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}
.header button{
    outline: 0;
    border: 0;
    background-color:#00BDCD;
    width: 10%;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
    font-size: 1rem;
  }
  .header input{
    outline: 0;
    border: 1px solid black;
    width: 78%;
    border-radius: 5px;
  
  }